# do not need to replace the values
PORT=4000
ACCESS_TOKEN_SECRET=mysecretkey
SESSION_SECRET=mysecretkey
REDIS_PORT=13354
REDIS_HOST=redis-13354.c295.ap-southeast-1-1.ec2.redns.redis-cloud.com
REDIS_PASSWORD=2ihmh5chuzXPdy3f9CpVJ7r7uSX24LuP

# replace the values with your own
API_KEY=myapikey
AIO_KEY=aio_YfVe30TeDi3VCQvNmohBaA48koVL
AIO_USERNAME=tungle